---
http_interactions:
- request:
    method: get
    uri: https://rover-dev-benm.atlassian.net/rest/api/2/issue/DEV-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ABC123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - c7f68a80-33de-464f-82d4-a8a7af8545bb
      X-Ausername:
      - admin
    body:
      encoding: ASCII-8BIT
      string: '{"expand":"renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations","id":"10001","self":"https://rover-dev-benm.atlassian.net/rest/api/2/issue/10001","key":"DEV-1","fields":{"issuetype":{"self":"https://rover-dev-benm.atlassian.net/rest/api/2/issuetype/10001","id":"10001","description":"Stories
        track functionality or features expressed as user goals.","iconUrl":"https://rover-dev-benm.atlassian.net/secure/viewavatar?size=xsmall&avatarId=10315&avatarType=issuetype","name":"Story","subtask":false,"avatarId":10315},"timespent":null,"project":{"self":"https://rover-dev-benm.atlassian.net/rest/api/2/project/10001","id":"10001","key":"DEV","name":"DEV","projectTypeKey":"software","avatarUrls":{"48x48":"https://rover-dev-benm.atlassian.net/secure/projectavatar?avatarId=10324","24x24":"https://rover-dev-benm.atlassian.net/secure/projectavatar?size=small&avatarId=10324","16x16":"https://rover-dev-benm.atlassian.net/secure/projectavatar?size=xsmall&avatarId=10324","32x32":"https://rover-dev-benm.atlassian.net/secure/projectavatar?size=medium&avatarId=10324"}},"fixVersions":[],"aggregatetimespent":null,"resolution":null,"resolutiondate":null,"workratio":-1,"lastViewed":null,"watches":{"self":"https://rover-dev-benm.atlassian.net/rest/api/2/issue/DEV-1/watchers","watchCount":1,"isWatching":true},"created":"2018-06-10T15:49:35.621-0700","customfield_10020":null,"priority":{"self":"https://rover-dev-benm.atlassian.net/rest/api/2/priority/3","iconUrl":"https://rover-dev-benm.atlassian.net/images/icons/priorities/medium.svg","name":"Medium","id":"3"},"labels":[],"customfield_10016":null,"customfield_10019":null,"timeestimate":null,"aggregatetimeoriginalestimate":null,"versions":[],"issuelinks":[],"assignee":null,"updated":"2018-06-10T16:35:54.417-0700","status":{"self":"https://rover-dev-benm.atlassian.net/rest/api/2/status/10003","description":"","iconUrl":"https://rover-dev-benm.atlassian.net/","name":"To
        Do","id":"10003","statusCategory":{"self":"https://rover-dev-benm.atlassian.net/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To
        Do"}},"components":[{"self":"https://rover-dev-benm.atlassian.net/rest/api/2/component/10003","id":"10003","name":"ComponentA"},{"self":"https://rover-dev-benm.atlassian.net/rest/api/2/component/10005","id":"10005","name":"ComponentC"}],"timeoriginalestimate":null,"description":null,"customfield_10010":null,"customfield_10011":null,"customfield_10012":null,"customfield_10013":null,"customfield_10014":[],"customfield_10015":null,"timetracking":{},"customfield_10006":null,"customfield_10007":null,"security":null,"customfield_10008":[],"customfield_10009":"0|i00007:","aggregatetimeestimate":null,"attachment":[],"summary":"do
        the thing ","creator":{"self":"https://rover-dev-benm.atlassian.net/rest/api/2/user?username=admin","name":"admin","key":"admin","accountId":"5ac51680c5459746a4cf0e94","emailAddress":"ben.menesini@rover.com","avatarUrls":{"48x48":"https://avatar-cdn.atlassian.com/ced2c1a305df6b35cd77e99ec6cfe02a?s=48&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fced2c1a305df6b35cd77e99ec6cfe02a%3Fd%3Dmm%26s%3D48%26noRedirect%3Dtrue","24x24":"https://avatar-cdn.atlassian.com/ced2c1a305df6b35cd77e99ec6cfe02a?s=24&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fced2c1a305df6b35cd77e99ec6cfe02a%3Fd%3Dmm%26s%3D24%26noRedirect%3Dtrue","16x16":"https://avatar-cdn.atlassian.com/ced2c1a305df6b35cd77e99ec6cfe02a?s=16&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fced2c1a305df6b35cd77e99ec6cfe02a%3Fd%3Dmm%26s%3D16%26noRedirect%3Dtrue","32x32":"https://avatar-cdn.atlassian.com/ced2c1a305df6b35cd77e99ec6cfe02a?s=32&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fced2c1a305df6b35cd77e99ec6cfe02a%3Fd%3Dmm%26s%3D32%26noRedirect%3Dtrue"},"displayName":"Ben
        Menesini","active":true,"timeZone":"America/Los_Angeles"},"subtasks":[],"reporter":{"self":"https://rover-dev-benm.atlassian.net/rest/api/2/user?username=admin","name":"admin","key":"admin","accountId":"5ac51680c5459746a4cf0e94","emailAddress":"ben.menesini@rover.com","avatarUrls":{"48x48":"https://avatar-cdn.atlassian.com/ced2c1a305df6b35cd77e99ec6cfe02a?s=48&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fced2c1a305df6b35cd77e99ec6cfe02a%3Fd%3Dmm%26s%3D48%26noRedirect%3Dtrue","24x24":"https://avatar-cdn.atlassian.com/ced2c1a305df6b35cd77e99ec6cfe02a?s=24&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fced2c1a305df6b35cd77e99ec6cfe02a%3Fd%3Dmm%26s%3D24%26noRedirect%3Dtrue","16x16":"https://avatar-cdn.atlassian.com/ced2c1a305df6b35cd77e99ec6cfe02a?s=16&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fced2c1a305df6b35cd77e99ec6cfe02a%3Fd%3Dmm%26s%3D16%26noRedirect%3Dtrue","32x32":"https://avatar-cdn.atlassian.com/ced2c1a305df6b35cd77e99ec6cfe02a?s=32&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fced2c1a305df6b35cd77e99ec6cfe02a%3Fd%3Dmm%26s%3D32%26noRedirect%3Dtrue"},"displayName":"Ben
        Menesini","active":true,"timeZone":"America/Los_Angeles"},"customfield_10000":"{}","aggregateprogress":{"progress":0,"total":0},"customfield_10001":null,"customfield_10002":null,"environment":null,"duedate":null,"progress":{"progress":0,"total":0},"votes":{"self":"https://rover-dev-benm.atlassian.net/rest/api/2/issue/DEV-1/votes","votes":0,"hasVoted":false},"comment":{"comments":[],"maxResults":0,"total":0,"startAt":0},"worklog":{"startAt":0,"maxResults":20,"total":0,"worklogs":[]}}}'
  recorded_at: Mon, 11 Jun 2018 01:16:38 GMT
- request:
    method: get
    uri: https://rover-dev-benm.atlassian.net/rest/api/2/issue/ABC-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ABC123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - 11c9033b-40a6-4819-9bbd-7ccbb6de3b3c
      X-Ausername:
      - admin
    body:
      encoding: ASCII-8BIT
      string: '{"expand":"render[...]
- request:
    method: get
    uri: https://rover-dev-benm.atlassian.net/rest/api/2/issue/XYZ-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ABC123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - 8d7224dc-55be-4bdf-af42-fbbe11137425
      X-Ausername:
      - admin
    body:
      encoding: ASCII-8BIT
      string: '{"expand":"render[...]
