---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/artsy/eigen/pulls/800
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token ABC123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1528623165'
      Etag:
      - W/"6fe4d4cf4d2f7bdc1f7f6e2db5f70685"
      Last-Modified:
      - Fri, 18 May 2018 16:19:54 GMT
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/artsy/eigen/pulls/800","id":44984379,"node_id":"MDExOlB1bGxSZXF1ZXN0NDQ5ODQzNzk=","html_url":"https://github.com/artsy/eigen/pull/800","diff_url":"https://github.com/artsy/eigen/pull/800.diff","patch_url":"https://github.com/artsy/eigen/pull/800.patch","issue_url":"https://api.github.com/repos/artsy/eigen/issues/800","number":800,"state":"closed","locked":false,"title":"[DEV-12345] some title with issue keys in it ABC-12345","user":{"login":"orta","id":49038,"node_id":"MDQ6VXNlcjQ5MDM4","avatar_url":"https://avatars2.githubusercontent.com/u/49038?v=4","gravatar_id":"","url":"https://api.github.com/users/orta","html_url":"https://github.com/orta","followers_url":"https://api.github.com/users/orta/followers","following_url":"https://api.github.com/users/orta/following{/other_user}","gists_url":"https://api.github.com/users/orta/gists{/gist_id}","starred_url":"https://api.github.com/users/orta/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/orta/subscriptions","organizations_url":"https://api.github.com/users/orta/orgs","repos_url":"https://api.github.com/users/orta/repos","events_url":"https://api.github.com/users/orta/events{/privacy}","received_events_url":"https://api.github.com/users/orta/received_events","type":"User","site_admin":false},"body":"this is a body with a key in it XYZ-99999","created_at":"2015-09-14T21:38:28Z","updated_at":"2015-12-14T22:37:26Z","closed_at":"2015-09-17T18:52:12Z","merged_at":null,"merge_commit_sha":"38a1e19cbf41b06cac224e36e962f42f09994a83","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/artsy/eigen/pulls/800/commits","review_comments_url":"https://api.github.com/repos/artsy/eigen/pulls/800/comments","review_comment_url":"https://api.github.com/repos/artsy/eigen/pulls/comments{/number}","comments_url":"https://api.github.com/repos/artsy/eigen/issues/800/comments","statuses_url":"https://api.github.com/repos/artsy/eigen/statuses/561827e46167077b5e53515b4b7349b8ae04610b","head":{"label":"artsy:orta-circle_ci2","ref":"orta-circle_ci2","sha":"561827e46167077b5e53515b4b7349b8ae04610b","user":{"login":"artsy","id":546231,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0NjIzMQ==","avatar_url":"https://avatars3.githubusercontent.com/u/546231?v=4","gravatar_id":"","url":"https://api.github.com/users/artsy","html_url":"https://github.com/artsy","followers_url":"https://api.github.com/users/artsy/followers","following_url":"https://api.github.com/users/artsy/following{/other_user}","gists_url":"https://api.github.com/users/artsy/gists{/gist_id}","starred_url":"https://api.github.com/users/artsy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/artsy/subscriptions","organizations_url":"https://api.github.com/users/artsy/orgs","repos_url":"https://api.github.com/users/artsy/repos","events_url":"https://api.github.com/users/artsy/events{/privacy}","received_events_url":"https://api.github.com/users/artsy/received_events","type":"Organization","site_admin":false},"repo":{"id":29702213,"node_id":"MDEwOlJlcG9zaXRvcnkyOTcwMjIxMw==","name":"eigen","full_name":"artsy/eigen","owner":{"login":"artsy","id":546231,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0NjIzMQ==","avatar_url":"https://avatars3.githubusercontent.com/u/546231?v=4","gravatar_id":"","url":"https://api.github.com/users/artsy","html_url":"https://github.com/artsy","followers_url":"https://api.github.com/users/artsy/followers","following_url":"https://api.github.com/users/artsy/following{/other_user}","gists_url":"https://api.github.com/users/artsy/gists{/gist_id}","starred_url":"https://api.github.com/users/artsy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/artsy/subscriptions","organizations_url":"https://api.github.com/users/artsy/orgs","repos_url":"https://api.github.com/users/artsy/repos","events_url":"https://api.github.com/users/artsy/events{/privacy}","received_events_url":"https://api.github.com/users/artsy/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/artsy/eigen","description":"The
        Art World in Your Pocket or Your Trendy Tech Company''s Tote, Artsy''s iOS
        app.","fork":false,"url":"https://api.github.com/repos/artsy/eigen","forks_url":"https://api.github.com/repos/artsy/eigen/forks","keys_url":"https://api.github.com/repos/artsy/eigen/keys{/key_id}","collaborators_url":"https://api.github.com/repos/artsy/eigen/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/artsy/eigen/teams","hooks_url":"https://api.github.com/repos/artsy/eigen/hooks","issue_events_url":"https://api.github.com/repos/artsy/eigen/issues/events{/number}","events_url":"https://api.github.com/repos/artsy/eigen/events","assignees_url":"https://api.github.com/repos/artsy/eigen/assignees{/user}","branches_url":"https://api.github.com/repos/artsy/eigen/branches{/branch}","tags_url":"https://api.github.com/repos/artsy/eigen/tags","blobs_url":"https://api.github.com/repos/artsy/eigen/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/artsy/eigen/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/artsy/eigen/git/refs{/sha}","trees_url":"https://api.github.com/repos/artsy/eigen/git/trees{/sha}","statuses_url":"https://api.github.com/repos/artsy/eigen/statuses/{sha}","languages_url":"https://api.github.com/repos/artsy/eigen/languages","stargazers_url":"https://api.github.com/repos/artsy/eigen/stargazers","contributors_url":"https://api.github.com/repos/artsy/eigen/contributors","subscribers_url":"https://api.github.com/repos/artsy/eigen/subscribers","subscription_url":"https://api.github.com/repos/artsy/eigen/subscription","commits_url":"https://api.github.com/repos/artsy/eigen/commits{/sha}","git_commits_url":"https://api.github.com/repos/artsy/eigen/git/commits{/sha}","comments_url":"https://api.github.com/repos/artsy/eigen/comments{/number}","issue_comment_url":"https://api.github.com/repos/artsy/eigen/issues/comments{/number}","contents_url":"https://api.github.com/repos/artsy/eigen/contents/{+path}","compare_url":"https://api.github.com/repos/artsy/eigen/compare/{base}...{head}","merges_url":"https://api.github.com/repos/artsy/eigen/merges","archive_url":"https://api.github.com/repos/artsy/eigen/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/artsy/eigen/downloads","issues_url":"https://api.github.com/repos/artsy/eigen/issues{/number}","pulls_url":"https://api.github.com/repos/artsy/eigen/pulls{/number}","milestones_url":"https://api.github.com/repos/artsy/eigen/milestones{/number}","notifications_url":"https://api.github.com/repos/artsy/eigen/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/artsy/eigen/labels{/name}","releases_url":"https://api.github.com/repos/artsy/eigen/releases{/id}","deployments_url":"https://api.github.com/repos/artsy/eigen/deployments","created_at":"2015-01-22T21:52:39Z","updated_at":"2018-06-08T09:35:58Z","pushed_at":"2018-06-07T09:42:39Z","git_url":"git://github.com/artsy/eigen.git","ssh_url":"git@github.com:artsy/eigen.git","clone_url":"https://github.com/artsy/eigen.git","svn_url":"https://github.com/artsy/eigen","homepage":"http://iphone.artsy.net","size":201857,"stargazers_count":2331,"watchers_count":2331,"language":"Objective-C","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":357,"mirror_url":null,"archived":false,"open_issues_count":35,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":357,"open_issues":35,"watchers":2331,"default_branch":"master"}},"base":{"label":"artsy:master","ref":"master","sha":"704dc55988c6996f69b6873c2424be7d1de67bbe","user":{"login":"artsy","id":546231,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0NjIzMQ==","avatar_url":"https://avatars3.githubusercontent.com/u/546231?v=4","gravatar_id":"","url":"https://api.github.com/users/artsy","html_url":"https://github.com/artsy","followers_url":"https://api.github.com/users/artsy/followers","following_url":"https://api.github.com/users/artsy/following{/other_user}","gists_url":"https://api.gi[...]
- request:
    method: get
    uri: https://api.github.com/repos/artsy/eigen/issues/800
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token ABC123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1528623165'
      Etag:
      - W/"1f3136ab9bc2d15839bfa57a1fa2d687"
      Last-Modified:
      - Fri, 18 May 2018 16:19:54 GMT
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/artsy/eigen/issues/800","repository_url":"https://api.github.com/repos/artsy/eigen","labels_url":"https://api.github.com/repos/artsy/eigen/issues/800/labels{/name}","comments_url":"https://api.github.com/repos/artsy/eigen/issues/800/comments","events_url":"https://api.github.com/repos/artsy/eigen/issues/800/events","html_url":"https://github.com/artsy/eigen/pull/800","id":106433441,"node_id":"MDExOlB1bGxSZXF1ZXN0NDQ5ODQzNzk=","number":800,"title":"[DEV-12345] some title with issue keys in it ABC-12345","user":{"login":"orta","id":49038,"node_id":"MDQ6VXNlcjQ5MDM4","avatar_url":"https://avatars2.githubusercontent.com/u/49038?v=4","gravatar_id":"","url":"https://api.github.com/users/orta","html_url":"https://github.com/orta","followers_url":"https://api.github.com/users/orta/followers","following_url":"https://api.github.com/users/orta/following{/other_user}","gists_url":"https://api.github.com/users/orta/gists{/gist_id}","starred_url":"https://api.github.com/users/orta/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/orta/subscriptions","organizations_url":"https://api.github.com/users/orta/orgs","repos_url":"https://api.github.com/users/orta/repos","events_url":"https://api.github.com/users/orta/events{/privacy}","received_events_url":"https://api.github.com/users/orta/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":8,"created_at":"2015-09-14T21:38:28Z","updated_at":"2015-12-14T22:37:26Z","closed_at":"2015-09-17T18:52:12Z","author_association":"MEMBER","pull_request":{"url":"https://api.github.com/repos/artsy/eigen/pulls/800","html_url":"https://github.com/artsy/eigen/pull/800","diff_url":"https://github.com/artsy/eigen/pull/800.diff","patch_url":"https://github.com/artsy/eigen/pull/800.patch"},"body":"this is a body with a key in it XYZ-99999","closed_by":{"login":"orta","id":49038,"node_id":"MDQ6VXNlcjQ5MDM4","avatar_url":"https://avatars2.githubusercontent.com/u/49038?v=4","gravatar_id":"","url":"https://api.github.com/users/orta","html_url":"https://github.com/orta","followers_url":"https://api.github.com/users/orta/followers","following_url":"https://api.github.com/users/orta/following{/other_user}","gists_url":"https://api.github.com/users/orta/gists{/gist_id}","starred_url":"https://api.github.com/users/orta/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/orta/subscriptions","organizations_url":"https://api.github.com/users/orta/orgs","repos_url":"https://api.github.com/users/orta/repos","events_url":"https://api.github.com/users/orta/events{/privacy}","received_events_url":"https://api.github.com/users/orta/received_events","type":"User","site_admin":false}}'
  recorded_at: Sun, 10 Jun 2018 08:32:45 GMT
recorded_with: VCR 4.0.0
